{
  "openapi": "3.0.0",
  "info": {
    "title": "Billit",
    "version": "1.0.0",
    "description": "This is the Billit API. Feel free to test our endpoints with the provided Sandbox account first. Play safe! \n\n<!-- theme: warning -->\n> As an extra step of security by default you're assigned read only access to resources in Production mode. **Please contact us when you're ready for production** and we will give you full access the same day.\n\n<!-- theme: danger -->\n> In Sandbox environment all data are wiped out each month.",
    "contact": {
      "name": "BILLIT G.P.",
      "url": "https://billit.io/contact",
      "email": "support@billit.io"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.sandbox-billit.xyz/v1",
      "description": "Sandbox"
    },
    {
      "description": "Production",
      "url": "https://api.billit.io/v1"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "My Account",
        "operationId": "get-user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Unique identifier"
                        },
                        "email": {
                          "type": "string",
                          "minLength": 1,
                          "description": "User's email"
                        },
                        "subdomain": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The account's subdomain."
                        },
                        "firstName": {
                          "type": "string",
                          "minLength": 1,
                          "description": "First name"
                        },
                        "lastName": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Last name"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Mobile phone number"
                        },
                        "isBlocked": {
                          "type": "boolean",
                          "description": "If account is blocked by admin"
                        },
                        "isSuspended": {
                          "type": "boolean",
                          "description": "If acccount is suspended because it's more than 60 days in frozen plan"
                        },
                        "isAccountant": {
                          "type": "boolean",
                          "description": "If the account user is an accountant"
                        },
                        "isValidated2fa": {
                          "type": "boolean",
                          "description": "If 2FA is enabled"
                        },
                        "createdAt": {
                          "type": "string",
                          "minLength": 1,
                          "description": "ISO 8601 format"
                        },
                        "updatedAt": {
                          "type": "string",
                          "minLength": 1,
                          "description": "ISO 8601 format"
                        },
                        "deletedAt": {
                          "type": [
                            "string"
                          ],
                          "description": "ISO 8601 format",
                          "nullable": true
                        },
                        "relations": {
                          "type": "object",
                          "properties": {
                            "biller": {
                              "$ref": "#/components/schemas/Biller"
                            },
                            "paymentMethods": {
                              "type": "array",
                              "uniqueItems": true,
                              "minItems": 1,
                              "items": {
                                "$ref": "#/components/schemas/Paymentmethod"
                              },
                              "readOnly": true
                            },
                            "vats": {
                              "type": "array",
                              "uniqueItems": true,
                              "minItems": 1,
                              "items": {
                                "$ref": "#/components/schemas/Vat"
                              },
                              "readOnly": true
                            },
                            "settings": {
                              "$ref": "#/components/schemas/Setting"
                            },
                            "subscription": {
                              "$ref": "#/components/schemas/Subscription"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "uuid": "b3cce081-6796-409a-ace6-f7cf7bfc4771",
                        "email": "example@billit.io",
                        "subdomain": "example",
                        "firstName": "John",
                        "lastName": "Doe",
                        "mobile": "6978787878",
                        "isBlocked": true,
                        "isSuspended": true,
                        "isExpired": true,
                        "isAccountant": true,
                        "isValidated2fa": true,
                        "createdAt": "2020-09-03T13:44:48+00:00",
                        "updatedAt": "2020-09-03T13:44:48+00:00",
                        "deletedAt": null,
                        "relations": {
                          "biller": {
                            "id": 0,
                            "company": "Mπαμπουλίδης O.E.",
                            "companySec": "Mpampoulidis G.P.",
                            "profession": "Υπηρεσίες δοκιμών",
                            "professionSec": "testing services",
                            "vatId": "075656565",
                            "taxOffice": "Α' Πειραιά",
                            "streetAddress": "Τσαμαδού 10-12",
                            "streetAddressSec": "Tsamadou 10-12 str.",
                            "city": "Πειραιάς",
                            "citySec": "Piraeus",
                            "postalCode": "18534",
                            "phone": "2104111111",
                            "phoneSec": "+302104111111",
                            "mobile": "6978787878",
                            "mobileSec": "+306978787878",
                            "fax": "2104111112",
                            "logo": "https://api.billit.io/uploads/logos/92/mpampoulidis-logo.png",
                            "url": "https://test.mpampoulidis.gr",
                            "urlSec": "https://test.mpampoulidis.gr/en",
                            "urlLabel": "Mpampoulidis site",
                            "country": "GR",
                            "freeText": "<p>ΓΕ.ΜΗ: 123123</p>",
                            "freeTextSec": "<p>GEMI: 123123</p>",
                            "createdAt": "2021-04-24T14:15:22Z",
                            "updatedAt": "2021-04-24T14:15:22Z"
                          },
                          "paymentMethods": [
                            {
                              "id": 292,
                              "name": "Εθνική Τράπεζα",
                              "nameSec": "NBG BANK",
                              "info": null,
                              "infoSec": null,
                              "isOnlineMethod": false,
                              "status": true,
                              "default": true,
                              "iban": "1231231231313141414141414141",
                              "bic": "NBG10GD",
                              "accountHolder": "Μπαμπουλίδης Ο.Ε.",
                              "createdAt": "2019-05-22T11:48:04+00:00",
                              "updatedAt": "2019-05-22T11:48:04+00:00",
                              "deletedAt": null
                            }
                          ],
                          "vats": [
                            {
                              "id": 0,
                              "name": "string",
                              "value": 0,
                              "description": "string",
                              "isDefault": true,
                              "isHidden": true,
                              "mydataVatCat": 0,
                              "operand": "string",
                              "isPercentable": true,
                              "taxId": 0,
                              "accountingCode": null,
                              "deletedAt": null
                            }
                          ],
                          "settings": {
                            "dateFormat": "string",
                            "currency": "string",
                            "currencySymbol": "string",
                            "defaultInvoiceType": 0,
                            "defaultTemplate": "string",
                            "appLanguage": "string",
                            "multiLanguage": true,
                            "incrementingNumberLength": null,
                            "receiveReport": true,
                            "reportToEmail": null,
                            "forwardingEmail": "string",
                            "accountant": {
                              "accountantEmail": null,
                              "accountantAccess": true,
                              "accountantLoginNotification": true
                            },
                            "ocp": {
                              "receiptTypeId": 0,
                              "invoiceTypeId": 0,
                              "defaultLanguage": "string",
                              "reminderEveryDays": 0,
                              "autoSendEmail": true,
                              "disableReminder": true
                            },
                            "personalizedEmail": {
                              "fromEmailName": null,
                              "fromEmailAddress": "string",
                              "replyToEmail": null
                            }
                          },
                          "subscription": {
                            "plan": "string",
                            "startedAt": "string",
                            "expiresAt": "string",
                            "recurring": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get account details. This endpoint is quite unique since we also provide relations with information that can be \"hard\" cached and used to your requests. Id for vats, or your current Biller ID or payment methods are just some of the extra information provided. Try the end point to see the response with the payload.\n\n<!-- theme: warning -->\n> This is a super charged endpoint with data that can be used in multiple requests and can be safely cached.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          }
        ],
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "tags": [
          "Account"
        ]
      },
      "parameters": []
    },
    "/customers": {
      "get": {
        "summary": "List of customers",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-customers",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Testing S.A."
            },
            "in": "query",
            "name": "q",
            "description": " If you want to list customers by a search term. Lookup is on Company name, VatID, Telephone,Email."
          },
          {
            "schema": {
              "type": "boolean",
              "example": 1
            },
            "in": "query",
            "name": "unpaid",
            "description": "If you want to list only customer with unpaid invoices"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "schema": {
              "type": "string",
              "example": "24"
            },
            "in": "query",
            "name": "tagid",
            "description": "If you want to filter by a Tag, fill in the Tag ID"
          },
          {
            "$ref": "#/components/parameters/withRelations"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "description": "A list of customers",
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "deprecated": true
      },
      "post": {
        "summary": "Create a customer",
        "tags": [
          "Customers"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": {
                        "id": 0,
                        "email": "string",
                        "inCharge": "string",
                        "info": "string",
                        "company": "string",
                        "profession": "string",
                        "vatId": "string",
                        "taxOffice": "string",
                        "streetAddress": "string",
                        "city": "string",
                        "postalCode": "string",
                        "phone": "string",
                        "mobile": "string",
                        "fax": "string",
                        "field1": null,
                        "field2": null,
                        "field3": null,
                        "field4": null,
                        "enabled": true,
                        "lang": "el",
                        "discount": 0,
                        "alias": "string",
                        "debt": 0,
                        "overflowAmount": 0,
                        "total": 0,
                        "unpaid": 0,
                        "createdAt": "2019-08-24T14:15:22Z",
                        "updatedAt": "string",
                        "deletedAt": null,
                        "country": "GR",
                        "isCompany": true,
                        "customerType": 1,
                        "publicNote": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "errors": {
                      "type": "object"
                    },
                    "": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message",
                    "errors"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "statusCode": 422,
                      "error": "Validation Failed",
                      "message": "Your input had some validation errors.",
                      "errors": {
                        "isCompany": [
                          "The is company field is required."
                        ],
                        "customerType": [
                          "The customer type field is required."
                        ],
                        "company": [
                          "The 'Company' field is required."
                        ],
                        "lang": [
                          "The 'Language' field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "post-customers",
        "description": "Create a customer\n\n#### customerType options\n| Option | Description |\n| --- | ----------- |\n| 1 | Domestic customer |\n| 2 | Intra-community customer (EU-VIES) |\n| 3 | Foreign customer |\n| 4 | Private individual |",
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "isCompany": {
                    "type": "boolean",
                    "description": "If customer is company, make that true"
                  },
                  "company": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The company name"
                  },
                  "lang": {
                    "type": "string",
                    "minLength": 1,
                    "description": "the language that you want the customer to receive his invoices. \"el\" or \"en\""
                  },
                  "profession": {
                    "type": "string",
                    "minLength": 1
                  },
                  "inCharge": {
                    "type": "string",
                    "minLength": 1
                  },
                  "vatId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "taxOffice": {
                    "type": "string",
                    "minLength": 1
                  },
                  "streetAddress": {
                    "type": "string",
                    "minLength": 1
                  },
                  "alias": {
                    "type": "string",
                    "minLength": 1
                  },
                  "customerType": {
                    "type": "number"
                  },
                  "skipVatIdUniqueness": {
                    "type": "boolean"
                  },
                  "postalCode": {
                    "type": "string",
                    "minLength": 1
                  },
                  "city": {
                    "type": "string",
                    "minLength": 1
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mobile": {
                    "type": "string",
                    "minLength": 1
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fax": {
                    "type": "string",
                    "minLength": 1
                  },
                  "info": {
                    "type": "string",
                    "minLength": 1
                  },
                  "publicNote": {
                    "type": "string",
                    "minLength": 1
                  },
                  "addresses": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "address": {
                          "type": "string",
                          "minLength": 1
                        },
                        "city": {
                          "type": "string",
                          "minLength": 1
                        },
                        "zip": {
                          "type": "string",
                          "minLength": 1
                        },
                        "incharge": {
                          "type": "string",
                          "minLength": 1
                        },
                        "tel": {
                          "type": "string",
                          "minLength": 1
                        },
                        "country": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "title"
                      ]
                    }
                  }
                },
                "required": [
                  "isCompany",
                  "company",
                  "customerType",
                  "country"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "isCompany": true,
                    "company": "TestingCompany",
                    "lang": "el",
                    "profession": "Web Dev",
                    "inCharge": "George Tester",
                    "vatId": "EL89991223123",
                    "taxOffice": "A Athens",
                    "streetAddress": "Androutsou",
                    "alias": "Test",
                    "customerType": 1,
                    "postalCode": "12312",
                    "city": "Athens",
                    "country": "GR",
                    "mobile": "69432232323",
                    "phone": "123123123",
                    "fax": "123123123123",
                    "info": "private information text",
                    "publicNote": "public note text",
                    "addresses": [
                      {
                        "title": "Τιτλος 1",
                        "address": "Διευθυνση 1",
                        "city": "Πόλη 1",
                        "zip": "ΤΚ 1",
                        "incharge": "Γιωργος 1",
                        "tel": "210 1",
                        "country": "GR"
                      },
                      {
                        "title": "Τιτλος 2",
                        "address": "Διευθυνση 2",
                        "city": "Πόλη 2",
                        "zip": "ΤΚ 2",
                        "incharge": "Γιωργος 2",
                        "tel": "220 2",
                        "country": "GR"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "parameters": []
    },
    "/contacts": {
      "get": {
        "summary": "List of contacts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-contacts",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Testing S.A."
            },
            "in": "query",
            "name": "q",
            "description": " If you want to list customers by a search term. Lookup is on Company name, VatID, Telephone,Email."
          },
          {
            "schema": {
              "type": "boolean",
              "example": 1
            },
            "in": "query",
            "name": "unpaid",
            "description": "If you want to list only customer with unpaid invoices"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "schema": {
              "type": "string",
              "example": "24"
            },
            "in": "query",
            "name": "tagid",
            "description": "If you want to filter by a Tag, fill in the Tag ID"
          },
          {
            "$ref": "#/components/parameters/withRelations"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "description": "A list of contacts",
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "tags": [
          "Contacts"
        ]
      },
      "post": {
        "summary": "Create a contact",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": {
                        "id": 0,
                        "email": "string",
                        "inCharge": "string",
                        "info": "string",
                        "company": "string",
                        "profession": "string",
                        "vatId": "string",
                        "taxOffice": "string",
                        "streetAddress": "string",
                        "city": "string",
                        "postalCode": "string",
                        "phone": "string",
                        "mobile": "string",
                        "fax": "string",
                        "field1": null,
                        "field2": null,
                        "field3": null,
                        "field4": null,
                        "enabled": true,
                        "lang": "el",
                        "discount": 0,
                        "alias": "string",
                        "debt": 0,
                        "overflowAmount": 0,
                        "total": 0,
                        "unpaid": 0,
                        "createdAt": "2019-08-24T14:15:22Z",
                        "updatedAt": "string",
                        "deletedAt": null,
                        "country": "GR",
                        "isCompany": true,
                        "customerType": 1,
                        "publicNote": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number"
                    },
                    "error": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "errors": {
                      "type": "object"
                    },
                    "": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "statusCode",
                    "error",
                    "message",
                    "errors"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "statusCode": 422,
                      "error": "Validation Failed",
                      "message": "Your input had some validation errors.",
                      "errors": {
                        "isCompany": [
                          "The is company field is required."
                        ],
                        "customerType": [
                          "The customer type field is required."
                        ],
                        "company": [
                          "The 'Company' field is required."
                        ],
                        "lang": [
                          "The 'Language' field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "post-contacts",
        "description": "Create a contact\n\n#### customerType options\n| Option | Description |\n| --- | ----------- |\n| 1 | Domestic customer |\n| 2 | Intra-community customer (EU-VIES) |\n| 3 | Foreign customer |\n| 4 | Private individual |\n\n#### contactType options\n| Option | Description |\n| --- | ----------- |\n| 1 | Customer |\n| 2 | Supplier |\n| 3 | Customer & Supplier |\n\n",
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "isCompany": {
                    "type": "boolean",
                    "description": "If customer is company, make that true"
                  },
                  "company": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The company name"
                  },
                  "lang": {
                    "type": "string",
                    "minLength": 1,
                    "description": "the language that you want the customer to receive his invoices. \"el\" or \"en\""
                  },
                  "profession": {
                    "type": "string",
                    "minLength": 1
                  },
                  "inCharge": {
                    "type": "string",
                    "minLength": 1
                  },
                  "vatId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "taxOffice": {
                    "type": "string",
                    "minLength": 1
                  },
                  "streetAddress": {
                    "type": "string",
                    "minLength": 1
                  },
                  "alias": {
                    "type": "string",
                    "minLength": 1
                  },
                  "customerType": {
                    "type": "number"
                  },
                  "skipVatIdUniqueness": {
                    "type": "boolean"
                  },
                  "postalCode": {
                    "type": "string",
                    "minLength": 1
                  },
                  "city": {
                    "type": "string",
                    "minLength": 1
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mobile": {
                    "type": "string",
                    "minLength": 1
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fax": {
                    "type": "string",
                    "minLength": 1
                  },
                  "info": {
                    "type": "string",
                    "minLength": 1
                  },
                  "publicNote": {
                    "type": "string",
                    "minLength": 1
                  },
                  "addresses": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "address": {
                          "type": "string",
                          "minLength": 1
                        },
                        "city": {
                          "type": "string",
                          "minLength": 1
                        },
                        "zip": {
                          "type": "string",
                          "minLength": 1
                        },
                        "incharge": {
                          "type": "string",
                          "minLength": 1
                        },
                        "tel": {
                          "type": "string",
                          "minLength": 1
                        },
                        "country": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "title"
                      ]
                    }
                  },
                  "contactType": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  }
                },
                "required": [
                  "isCompany",
                  "company",
                  "customerType",
                  "country"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "isCompany": true,
                    "company": "TestingCompany",
                    "lang": "el",
                    "profession": "Web Dev",
                    "inCharge": "George Tester",
                    "vatId": "EL89991223123",
                    "taxOffice": "A Athens",
                    "streetAddress": "Androutsou",
                    "alias": "Test",
                    "customerType": 1,
                    "postalCode": "12312",
                    "city": "Athens",
                    "country": "GR",
                    "mobile": "69432232323",
                    "phone": "123123123",
                    "fax": "123123123123",
                    "info": "private information text",
                    "publicNote": "public note text",
                    "contactType": 1,
                    "currency": "EUR",
                    "addresses": [
                      {
                        "title": "Τιτλος 1",
                        "address": "Διευθυνση 1",
                        "city": "Πόλη 1",
                        "zip": "ΤΚ 1",
                        "incharge": "Γιωργος 1",
                        "tel": "210 1",
                        "country": "GR"
                      },
                      {
                        "title": "Τιτλος 2",
                        "address": "Διευθυνση 2",
                        "city": "Πόλη 2",
                        "zip": "ΤΚ 2",
                        "incharge": "Γιωργος 2",
                        "tel": "220 2",
                        "country": "GR"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ]
      },
      "parameters": []
    },
    "/invoices": {
      "get": {
        "summary": "List invoices",
        "tags": [
          "Invoices"
        ],
        "operationId": "get-v1-invoices",
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceListItem"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get a list with your invoices."
      },
      "post": {
        "summary": "Create an invoice",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "post-v1-invoices",
        "description": "Create a new invoice.",
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "number",
                    "description": "The customer ID"
                  },
                  "sendMail": {
                    "type": "boolean",
                    "description": "Fill in true if you want your customer to receive the invoice by email."
                  },
                  "excludeMydata": {
                    "type": "boolean",
                    "description": "By making this true, the invoice is excluded from myData."
                  },
                  "invoiceDate": {
                    "type": "string",
                    "description": "The invoice's date, in Y-m-d format",
                    "format": "date"
                  },
                  "invoiceTypeId": {
                    "type": "number",
                    "description": "The invoice type ID"
                  },
                  "isPaid": {
                    "type": "boolean",
                    "description": "The invoice paid status"
                  },
                  "mydataInvoiceType": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The invoice type according Mydata"
                  },
                  "taxes": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "taxId": {
                          "type": "number",
                          "description": "The Tax ID."
                        },
                        "taxVatShow": {
                          "type": "number",
                          "description": "Select if you want to be able to override it in the UI."
                        }
                      },
                      "required": [
                        "taxId"
                      ]
                    }
                  },
                  "products": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": {
                          "type": "integer",
                          "description": "The product ID"
                        },
                        "details": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The body of the product in case you want to overrride the default body."
                        },
                        "measurementUnit": {
                          "type": "number",
                          "description": "Options are 1 - Pcs, 2 - Kg, 3 - Lt"
                        },
                        "vatId": {
                          "type": "number"
                        },
                        "price": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "incomeClassificationCat": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Is needed if Mydata plugin is enabled. Check the possible options in the endpoint's description."
                        },
                        "incomeClassificationType": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Is needed if Mydata plugin is enabled. Check the possible options in the endpoint's description."
                        },
                        "vatExceptionCat": {
                          "type": "string",
                          "description": "Only needed if vat is 0%.Mydata plugin should be enabled as well. Check the possible options in the endpoint's description."
                        }
                      },
                      "required": [
                        "details",
                        "vatId"
                      ]
                    }
                  },
                  "tags": {
                    "type": "array",
                    "description": "An array of tags if any",
                    "items": {}
                  },
                  "mydataPayment": {
                    "type": "object",
                    "description": "Is needed if Mydata plugin is enabled. Check the possible options in the endpoint's description.",
                    "properties": {
                      "paidAmount": {
                        "type": "number"
                      },
                      "paymentMethod": {
                        "type": "number"
                      },
                      "epiPistosi": {
                        "type": "number"
                      }
                    }
                  },
                  "mailOptions": {
                    "type": [
                      "string",
                      "object"
                    ],
                    "description": "In case you want to have custom email subject/body",
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email"
                      },
                      "body": {
                        "type": "string",
                        "description": "The main body of the email"
                      }
                    }
                  },
                  "reminder": {
                    "type": "boolean"
                  },
                  "paymentMethod": {
                    "type": "array",
                    "description": "By setting to null or not including at all you set the \"default\" payment methods. If you want to set certain online/offline payment methods, ad their id in an array. In case you want to expilicitly avoid any payment for this invoice put the value of -1 in the array",
                    "nullable": true,
                    "items": {}
                  }
                },
                "required": [
                  "invoiceTypeId",
                  "products"
                ]
              },
              "examples": {
                "Example-1- Simple": {
                  "value": {
                    "customerId": 694,
                    "sendMail": false,
                    "excludeMydata": true,
                    "invoiceDate": "2021-04-15",
                    "invoiceTypeId": 349,
                    "isPaid": true,
                    "mydataInvoiceType": "2.1",
                    "taxes": [
                      {
                        "taxId": 514
                      },
                      {
                        "taxId": 524,
                        "taxVatShow": 1
                      }
                    ],
                    "products": [
                      {
                        "productId": null,
                        "details": "test",
                        "measurementUnit": 1,
                        "vatId": 376,
                        "price": 123.32,
                        "quantity": 1,
                        "incomeClassificationCat": "category1_3",
                        "incomeClassificationType": "E3_561_001"
                      }
                    ],
                    "tags": [
                      "billit",
                      "millit"
                    ],
                    "mydataPayment": {
                      "paidAmount": 0.32,
                      "paymentMethod": 3,
                      "epiPistosi": 10
                    },
                    "reminder": 1
                  }
                },
                "Example with TaxProduct(Telos)": {
                  "value": {
                    "customerId": 0,
                    "sendMail": true,
                    "excludeMydata": true,
                    "invoiceDate": "2019-08-24",
                    "invoiceTypeId": 0,
                    "isPaid": true,
                    "mydataInvoiceType": "string",
                    "taxes": [
                      {
                        "taxId": 0,
                        "taxVatShow": 0
                      }
                    ],
                    "products": [
                      {
                        "productId": 0,
                        "details": "string",
                        "measurementUnit": 0,
                        "vatId": 0,
                        "price": 0,
                        "quantity": 0,
                        "incomeClassificationCat": "string",
                        "incomeClassificationType": "string",
                        "vatExceptionCat": "string"
                      },
                      {
                        "vatId": 376,
                        "price": 11,
                        "quantity": 1,
                        "type": "telos",
                        "taxId": 592
                      }
                    ],
                    "tags": [
                      null
                    ],
                    "mydataPayment": {
                      "paidAmount": 0,
                      "paymentMethod": 0,
                      "epiPistosi": 0
                    },
                    "mailOptions": "string",
                    "reminder": true
                  }
                },
                "Example with selfPricing": {
                  "value": {
                    "customerId": 694,
                    "sendMail": false,
                    "excludeMydata": true,
                    "invoiceDate": "2021-04-15",
                    "invoiceTypeId": 349,
                    "isPaid": true,
                    "mydataInvoiceType": "2.1",
                    "selfPricing": true,
                    "taxes": [
                      {
                        "taxId": 514
                      },
                      {
                        "taxId": 524,
                        "taxVatShow": 1
                      }
                    ],
                    "products": [
                      {
                        "productId": null,
                        "details": "test",
                        "measurementUnit": 1,
                        "vatId": 376,
                        "price": 123.32,
                        "quantity": 1,
                        "incomeClassificationCat": "category2_1",
                        "incomeClassificationType": "E3_102_001",
                        "expenseVatClassification": "VAT_361"
                      },
                      {
                        "vatId": 376,
                        "price": 13,
                        "quantity": 1,
                        "type": "telos",
                        "taxId": 592
                      }
                    ],
                    "tags": [
                      "billit",
                      "millit"
                    ],
                    "mydataPayment": {
                      "paidAmount": 0.32,
                      "paymentMethod": 3,
                      "epiPistosi": 10
                    }
                  }
                },
                "example-withPaymentMethods": {
                  "value": {
                    "customerId": 694,
                    "sendMail": false,
                    "excludeMydata": true,
                    "invoiceDate": "2021-04-15",
                    "invoiceTypeId": 349,
                    "isPaid": true,
                    "mydataInvoiceType": "2.1",
                    "taxes": [
                      {
                        "taxId": 514
                      },
                      {
                        "taxId": 524,
                        "taxVatShow": 1
                      }
                    ],
                    "products": [
                      {
                        "productId": null,
                        "details": "test",
                        "measurementUnit": 1,
                        "vatId": 376,
                        "price": 123.32,
                        "quantity": 1,
                        "incomeClassificationCat": "category1_3",
                        "incomeClassificationType": "E3_561_001"
                      }
                    ],
                    "tags": [
                      "billit",
                      "millit"
                    ],
                    "mydataPayment": {
                      "paidAmount": 0.32,
                      "paymentMethod": 3,
                      "epiPistosi": 10
                    },
                    "reminder": 1,
                    "paymentMethod": [
                      1506,
                      1511
                    ]
                  }
                }
              }
            }
          },
          "description": "<!-- theme: warning -->\n> In order to get back or post payload with MyData information, you need to enable the Mydata plugin first. Please do from your settings menu if your business is located in Greece and you need to connect myData to your account.\n\n### Mydata details\n\n#### mydataInvoiceType options\n| Option | Description |\n| --- | ----------- |\n| 1.1 | Τιμολόγιο Πώλησης |\n| 1.2 | Τιμολόγιο Πώλησης / Ενδοκοινοτικές Παραδόσεις |\n| 1.3 | Τιμολόγιο Πώλησης / Παραδόσεις Τρίτων Χωρών |\n| 1.4 | Τιμολόγιο Πώλησης / Πώληση για Λογαριασμό Τρίτων |\n| 1.5 | Τιμολόγιο Πώλησης / Εκκαθάριση Πωλήσεων Τρίτων - Αμοιβή από Πωλήσεις Τρίτων |\n| 1.6 | Τιμολόγιο Πώλησης / Συμπληρωματικό Παραστατικό |\n| 2.1 | Τιμολόγιο Παροχής |\n| 2.2 | Τιμολόγιο Παροχής / Ενδοκοινοτική Παροχή Υπηρεσιών | \n| 2.3 | Τιμολόγιο Παροχής / Παροχή Υπηρεσιών σε λήπτη Τρίτης Χώρας |\n| 2.4 | Τιμολόγιο Παροχής / Συμπληρωματικό Παραστατικό |\n| 3.1 | Τίτλος Κτήσης (μη υπόχρεος Εκδότης) | \n| 3.2 | Τίτλος Κτήσης (άρνηση έκδοσης από υπόχρεο Εκδότη) |\n| 5.1 | Πιστωτικό Τιμολόγιο / Συσχετιζόμενο | \n| 5.2 | ΠιστωτικόΤιμολόγιο  / Μη Συσχετιζόμενο |\n| 6.1 | Στοιχείο Αυτοπαράδοσης |\n| 6.2 | Στοιχείο Ιδιοχρησιμοποίησης |\n| 7.1 | Συμβόλαιο - Έσοδο |\n| 8.1 | Ενοίκια -Έσοδο | \n| 8.2 | Ειδικό Στοιχείο –Απόδειξης Είσπραξης Φόρου  Διαμονής |\n| 11.1 | ΑΛΠ |\n| 11.2 | ΑΠΥ |\n| 11.3 | Απλοποιημένο Τιμολόγιο |\n| 11.4 | Πιστωτικό Στοιχ. Λιανικής |\n| 11.5 | Απόδειξη Λιανικής Πώλησης για Λογ/σμό Τρίτων |\n\n\n#### incomeClassificationCat options\n| Option | Description |\n| --- | ----------- |\n| category1_1 | Έσοδα από Πώληση Εμπορευμάτων |\n| category1_2 | Έσοδα από Πώληση Προϊόντων |\n| category1_3 | Έσοδα από Παροχή Υπηρεσιών |\n| category1_4 | Έσοδα από Πώληση Παγίων |\n| category1_5 | Λοιπά Έσοδα/ Κέρδη |\n| category1_6 | Αυτοπαραδόσεις /  Ιδιοχρησιμοποιήσεις |\n| category1_7 | Έσοδα για λ/σμο τρίτων |\n| category1_8 | Έσοδα προηγούμενων χρήσεων |\n| category1_9 | Έσοδα επομένων χρήσεων |\n| category1_10 | Λοιπές Εγγραφές Τακτοποίησης Εσόδων |\n| category1_95 | Λοιπά Πληροφοριακά Στοιχεία Εσόδων |\n\n\n#### incomeClassificationType options\n| Option | Description |\n| --- | ----------- |\n| E3_106 | Ιδιοπαραγωγή παγίων -Αυτοπαραδόσεις -Καταστροφές αποθεμάτων/Εμπορεύματα |\n| E3_205 | Ιδιοπαραγωγή παγίων -Αυτοπαραδόσεις -Καταστροφές αποθεμάτων/Πρώτες ύλες και λοιπά υλικά |\n| E3_210 | Ιδιοπαραγωγή παγίων -Αυτοπαραδόσεις -Καταστροφές αποθεμάτων/Προϊόντα και παραγωγή σε εξέλιξη |\n| E3_305 | Ιδιοπαραγωγή παγίων -Αυτοπαραδόσεις –Καταστροφές αποθεμάτων/Πρώτες ύλες και λοιπά υλικά |\n| E3_310 | Ιδιοπαραγωγή παγίων -Αυτοπαραδόσεις -Καταστροφές αποθεμάτων/Προϊόντα και παραγωγή σε εξέλιξη |\n| E3_318 | Ιδιοπαραγωγή παγίων -Αυτοπαραδόσεις -Καταστροφές αποθεμάτων/Έξοδα παραγωγής |\n| E3_561_001 | Πωλήσεις αγαθών και υπηρεσιών Χονδρικές -Επιτηδευματιών |\n| E3_561_002 | Πωλήσεις αγαθών και υπηρεσιών Χονδρικές βάσει άρθρου 39α παρ 5 του Κώδικα Φ.Π.Α. (Ν.2859/2000) |\n| E3_561_003 | Πωλήσεις αγαθών και υπηρεσιών Λιανικές -Ιδιωτική Πελατεία |\n| E3_561_004 | Πωλήσεις αγαθών και υπηρεσιών Λιανικές βάσει άρθρου 39α παρ 5 του Κώδικα Φ.Π.Α. (Ν.2859/2000) |\n| E3_561_005 | Πωλήσεις αγαθών και υπηρεσιών Εξωτερικού Ενδοκοινοτικές |\n| E3_561_006 | Πωλήσεις αγαθών και υπηρεσιών Εξωτερικού Τρίτες Χώρες |\n| E3_561_007 | Πωλήσεις αγαθών και υπηρεσιών Λοιπά |\n| E3_562 | Λοιπά συνήθη έσοδα |\n| E3_563 | Πιστωτικοί τόκοι και συναφή έσοδα|\n| E3_564 | Πιστωτικές συναλλαγματικές διαφορές |\n| E3_565 | Έσοδα συμμετοχών |\n| E3_566 | Κέρδη από διάθεση μη κυκλοφορούντων περιουσιακών στοιχείων |\n| E3_567 | Κέρδη από αναστροφή προβλέψεων και απομειώσεων |\n| E3_568 | Κέρδη από επιμέτρηση στην εύλογη αξία |\n| E3_570 | Ασυνήθη έσοδα και κέρδη |\n| E3_595 | Έξοδα σε ιδιοπαραγωγή |\n| E3_596 | Επιδοτήσεις -Επιχορηγήσεις |\n| E3_597 | Επιδοτήσεις -Επιχορηγήσεις για επενδυτικούς σκοπούς -κάλυψη δαπανών |\n| E3_880_001 | Πωλήσεις Παγίων Χονδρικές |\n| E3_880_002 | Πωλήσεις Παγίων Λιανικές |\n| E3_880_003 | Πωλήσεις Παγίων Εξωτερικού Ενδοκοινοτικές |\n| E3_880_004 | Πωλήσεις Παγίων Εξωτερικού Τρίτες Χώρες |\n| E3_881_001 | Πωλήσεις για λογ/σμο Τρίτων Χονδρικές |\n| E3_881_002 | Πωλήσεις για λογ/σμο Τρίτων Λιανικές |\n| E3_881_003 | Πωλήσεις για λογ/σμο Τρίτων Εξωτερικού Ενδοκοινοτικές |\n| E3_881_004 | Πωλήσεις για λογ/σμο Τρίτων Εξωτερικού Τρίτες Χώρες |\n\n\n#### paymentMethod options\n\n| Option | Description  |  \n| --- | ----------- |\n| 1 | Επαγ. Λογαριασμός Πληρωμών Ημεδαπής |\n| 2 | Επαγ. Λογαριασμός Πληρωμών Αλλοδαπής |\n| 3 | Μετρητά |\n| 4 | Επιταγή |\n| 5 | Επί Πιστώσει |\n\n#### VAT exclusion reason options\n| Option | Description |\n| --- | ----------- |\n| 1 | Χωρίς ΦΠΑ –άρθρο2 και3 του Κώδικα ΦΠΑ |\n| 2 | Χωρίς ΦΠΑ -άρθρο 5 του Κώδικα ΦΠΑ |\n| 3 | Χωρίς ΦΠΑ -άρθρο 13 του Κώδικα ΦΠΑ |\n| 4 | Χωρίς ΦΠΑ -άρθρο 14 του Κώδικα ΦΠΑ |\n| 5 | Χωρίς ΦΠΑ -άρθρο 16 του Κώδικα ΦΠΑ |\n| 6 | Χωρίς ΦΠΑ -άρθρο 19 του Κώδικα ΦΠΑ |\n| 7 | Χωρίς ΦΠΑ -άρθρο 22 του Κώδικα ΦΠΑ |\n| 8 | Χωρίς ΦΠΑ -άρθρο 24 του Κώδικα ΦΠΑ |\n| 9 | Χωρίς ΦΠΑ -άρθρο 25 του Κώδικα ΦΠΑ |\n| 10 | Χωρίς ΦΠΑ -άρθρο 26 του Κώδικα ΦΠΑ |\n| 11 | Χωρίς ΦΠΑ -άρθρο 27 του Κώδικα ΦΠΑ |\n| 12 | Χωρίς ΦΠΑ -άρθρο 27  -Πλοία Ανοικτής  Θαλάσσης  του  Κώδικα ΦΠΑ |\n| 13 | Χωρίς  ΦΠΑ -άρθρο  27.1.γ -ΠλοίαΑνοικτής Θαλάσσης του Κώδικα ΦΠΑ |\n| 14 | Χωρίς ΦΠΑ -άρθρο 28 του Κώδικα ΦΠΑ |\n| 15 | Χωρίς ΦΠΑ -άρθρο 39 του Κώδικα ΦΠΑ |\n| 16 | Χωρίς ΦΠΑ -άρθρο 39α τουΚώδικα ΦΠΑ |\n| 17 | Χωρίς ΦΠΑ -άρθρο 40 του Κώδικα ΦΠΑ |\n| 18 | Χωρίς ΦΠΑ -άρθρο 41 του Κώδικα ΦΠΑ |\n| 19 | Χωρίς ΦΠΑ -άρθρο 47 του Κώδικα ΦΠΑ |\n| 20 | ΦΠΑ εμπεριεχόμενος -άρθρο 43 του Κώδικα ΦΠΑ |\n| 21 | ΦΠΑ εμπεριεχόμενος -άρθρο 44 του Κώδικα ΦΠΑ |\n| 22 | ΦΠΑ εμπεριεχόμενος -άρθρο 45 του Κώδικα ΦΠΑ |\n| 23 | ΦΠΑ εμπεριεχόμενος -άρθρο 46 του Κώδικα ΦΠΑ |\n| 24 | Χωρίς ΦΠΑ -άρθρο 6 του Κώδικα ΦΠΑ |\n\n\n### SelfPricing - Αυτοτιμολόγηση\nIf you want to generate invoices with selfPricing is a bit different. This invoice is actually an expense so the customer is a supplier not a customer ( or could be both in some cases) and the mydata specifics are a bit different, again because this kind of invoice is actuallly an expense.\n \n- only 1.1,2.1 mydataInvoiceType is allowed in this case.\n- The customerId should point to a customer that has a type of supplier or both a supplier or customer type.\n- You should select classifications from expenses not income\n- You should select a classification for the VAT as well ( check VatClassifications options )\n- To understand how you should make this post, check the example (select from the dropdown in the body request on your right) for SelfPricing.\n\n#### expenseClassificationCat options\n| Option | Description |\n| --- | ----------- |\n| category2_1 | Αγορές Εμπορευμάτων |\n| category2_2 | Αγορές Α'-Β' Υλών |\n| category2_3 | Λήψη Υπηρεσιών |\n| category2_4 | Γενικά Έξοδα με δικαίωμα έκπτωσης ΦΠΑ |\n| category2_5 | Γενικά Έξοδα χωρίς δικαίωμα έκπτωσης ΦΠΑ |\n| category2_6 | Αμοιβές και Παροχές προσωπικού |\n| category2_7 | Αγορές Παγίων |\n| category2_8 | Αποσβέσεις Παγίων |\n| category2_9 | Έξοδα για λ/σμο τρίτων |\n| category2_10 | Έξοδα προηγούμενων χρήσεων |\n| category2_11 | Έξοδα επομένων χρήσεων |\n| category2_12 | Λοιπές Εγγραφές Τακτοποίησης Εξόδων |\n| category2_13 | Αποθέματα Έναρξης Περιόδου |\n| category2_14 | Αποθέματα Λήξης Περιόδου |\n| category2_95 | Λοιπά Πληροφοριακά Στοιχεία Εξόδων |\n\n\n#### expenseClassificationType options\n| Option | Description |\n| --- | ----------- |\n| E3_101 | Εμπορεύματα έναρξης |\n| E3_102_001 | Αγορές εμπορευμάτων χρήσης (καθαρό ποσό)/Χονδρικές |\n| E3_102_002 | Αγορές εμπορευμάτων χρήσης (καθαρό ποσό)/Λιανικές |\n| E3_102_003 | Αγορές εμπορευμάτων χρήσης (καθαρό ποσό)/Αγαθών του άρθρου 39α παρ.5 του Κώδικα Φ.Π.Α. (ν.2859/2000) |\n| E3_102_004 | Αγορές εμπορευμάτων χρήσης (καθαρό ποσό)/Εξωτερικού Ενδοκοινοτικές |\n| E3_102_005 | Αγορές εμπορευμάτων χρήσης (καθαρό ποσό)/Εξωτερικού Τρίτες Χώρες |\n| E3_102_006 | Αγορές εμπορευμάτων χρήσης (καθαρό ποσό)Λοιπά |\n| E3_104 | Εμπορεύματα λήξης |\n| E3_201 | Πρώτες ύλες και υλικά έναρξης/Παραγωγή |\n| E3_202_001 | Αγορές πρώτων υλών και υλικών χρήσης (καθαρό ποσό)/Χονδρικές |\n| E3_202_002 | Αγορές πρώτων υλών και υλικών χρήσης (καθαρό ποσό)/Λιανικές |\n| E3_202_003 | Αγορές πρώτων υλών και υλικών χρήσης (καθαρό ποσό)/Εξωτερικού Ενδοκοινοτικές |\n| E3_202_004 | Αγορές πρώτων υλών και υλικών χρήσης (καθαρό ποσό)/Εξωτερικού Τρίτες Χώρες |\n| E3_202_005 | Αγορές πρώτων υλών και υλικών χρήσης (καθαρό ποσό)/Λοιπά |\n| E3_204 | Αποθέματα λήξης πρώτων υλών και υλικών/Παραγωγή |\n| ... | ... |\n\n\n\n#### VatClassifications options\n| Option | Description |\n| --- | ----------- |\n| VAT_361 | Αγορές & δαπάνες στο εσωτερικό της χώρας |\n| VAT_362 | Αγορές & εισαγωγές επενδ. Αγαθών (πάγια) |\n| VAT_363 | Λοιπές εισαγωγές εκτός επενδ. Αγαθών (πάγια) |\n| VAT_364 | Ενδοκοινοτικές αποκτήσεις αγαθών |\n| VAT_365 | Ενδοκοινοτικές λήψεις υπηρεσιών άρθρ. 14.2.α |\n| VAT_366 | Λοιπές πράξεις λήπτη |\n"
        }
      },
      "parameters": []
    },
    "/invoices/{uuid}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "uuid",
          "in": "path",
          "required": true,
          "description": "The uuid of invoice"
        }
      ],
      "get": {
        "summary": "Show Invoice",
        "tags": [
          "Invoices"
        ],
        "operationId": "get-invoices-uuid",
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "description": "Show an invoice resource. In case you need the pdf URL add \"/pdf\" in the returned \"permalink\" url and you're ready to go.x`",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": {
                        "user_id": 92,
                        "uuid": "f7234af9-1f67-48d3-98b6-22813b3a935f",
                        "permalink": "https://billitio.billit.io/inv/f7234af9-1f67-48d3-98b6-22813b3a935f",
                        "number": 401,
                        "type": {
                          "id": 349,
                          "name": "INVOICE",
                          "subtitle": "",
                          "note": "general note eng",
                          "alias": null,
                          "series": null
                        },
                        "biller": {
                          "id": 224,
                          "company": "BILLIT GP",
                          "info": null,
                          "profession": "Web development",
                          "taxId": "EL801379527",
                          "taxOffice": "N.Σμύρνη",
                          "streetAddress": "Tsamaous",
                          "city": "Piraeus",
                          "postCode": "18538",
                          "phone": "21023123",
                          "mobile": "123123",
                          "url": "https://billit.io/en",
                          "urlLabel": null,
                          "country": "GR",
                          "freeText": "<p>free text enlighs</p>"
                        },
                        "customer": {
                          "id": 644,
                          "email": "info@artspot.gr",
                          "company": "ARTSPOT  L.T.D",
                          "profession": "art promotions",
                          "taxId": "998039738",
                          "taxOffice": "Α΄ΠΕΙΡΑΙΑ",
                          "streetAddress": "Voulgari 23",
                          "city": "Piraeus",
                          "country": "AS",
                          "postCode": "18533",
                          "phone": "",
                          "mobile": "",
                          "isCompany": true,
                          "field1": "test",
                          "field2": null,
                          "field3": null,
                          "field4": null
                        },
                        "items": [
                          {
                            "quantity": 1,
                            "measurementUnitId": 1,
                            "product": {
                              "id": 56,
                              "title": null,
                              "description": "test"
                            },
                            "netAmount": 100,
                            "vatAmount": 0,
                            "totalAmount": 100,
                            "discountPercent": 0,
                            "discountAmount": 0,
                            "undiscountedTotalAmount": 100,
                            "vatId": 526,
                            "vatPercent": 0,
                            "mydata": {
                              "vatCat": null,
                              "vatExemptionCat": 6,
                              "dienergia": null,
                              "discountOption": null,
                              "withheldAmount": null,
                              "withheldPercentCat": null,
                              "stampDutyAmount": null,
                              "stampDutyPercent_cat": null,
                              "feesAmount": null,
                              "feesPercentCat": null,
                              "otherTaxesAmount": null,
                              "otherTaxesPercent_cat": null,
                              "deductionsAmount": null,
                              "lineComments": null,
                              "incomeClassificationType": [
                                {
                                  "id": 1,
                                  "type": "E3_561_006",
                                  "amount": 100,
                                  "category": "category1_3"
                                }
                              ],
                              "expensesClassificationType": null,
                              "rowType": null
                            }
                          }
                        ],
                        "note": "general note eng",
                        "amount": 100,
                        "vatAmount": 0,
                        "finalAmount": 100,
                        "payableAmount": 100,
                        "discountedAmount": 0,
                        "restAmount": 100,
                        "isPaid": false,
                        "layoutLang": "EN",
                        "paymentMethodIds": [
                          0
                        ],
                        "templateId": 0,
                        "hideItemNum": false,
                        "isRecurring": false,
                        "isSend": false,
                        "isRead": false,
                        "dateIssued": "2021-04-22",
                        "dateExpires": null,
                        "dateRead": null,
                        "createdAt": "2021-04-22T19:06:38+00:00",
                        "updatedAt": "2021-04-23T16:10:51+00:00",
                        "deletedAt": "2021-04-23T16:10:51+00:00",
                        "tags": [],
                        "isMydataEnabled": true,
                        "mydata": {
                          "type": "2.3",
                          "state": 1,
                          "errors": null,
                          "branch": 0,
                          "invoiceUid": null,
                          "invoiceMark": null,
                          "transmissionFailure": null,
                          "selfPricing": null,
                          "classificationMark": null,
                          "authenticationCode": null,
                          "canceledByMark": null,
                          "incomeClassification": null,
                          "expenseClassification": null,
                          "dienergia": null,
                          "mydataPaymentType": [
                            {
                              "type": 5,
                              "amount": 100,
                              "paymentMethodInfo": ""
                            }
                          ]
                        },
                        "dispatchDate": null,
                        "dispatchTime": null,
                        "vehicleNumber": null,
                        "movePurpose": null,
                        "loadingPlace": null,
                        "destination": null,
                        "correlatedInvoices": [],
                        "taxTotals": [],
                        "totalWithheldAmount": 0,
                        "totalFeesAmount": 0,
                        "totalStampDutyAmount": 0,
                        "totalOtherTaxesAmount": 0,
                        "totalDeductionsAmount": 0,
                        "vatList": [
                          {
                            "name": "0%",
                            "value": 0
                          }
                        ],
                        "offlinePaymentMethods": [
                          {
                            "label": "Cash",
                            "value": "<p>Payment in headquarters</p>"
                          }
                        ],
                        "onlinePaymentMethods": [
                          {
                            "id": 482,
                            "name": "Τραπεζα Πειραιώς [online]",
                            "gatewayId": 5
                          },
                          {
                            "id": 483,
                            "name": "BrainTree [online]",
                            "gatewayId": 3
                          },
                          {
                            "id": 491,
                            "name": "Paypal [online]",
                            "gatewayId": 2
                          }
                        ],
                        "templateExtras": {
                          "logo": "https://app.billit.local/uploads/logos/92/billit-other.png",
                          "templateName": "hydromet",
                          "multiLang": 1,
                          "dateFormat": "d-m-Y",
                          "currency": "EUR",
                          "currencySymbol": "€",
                          "currencyPos": 1,
                          "customerDept": false,
                          "allowPayments": true,
                          "hideTmx": false,
                          "hideReceiver": false,
                          "hidePricing": false,
                          "showBalance": false,
                          "hasSigningbox": false,
                          "extraFieldsLabels": [
                            "testen"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          }
        ]
      },
      "put": {
        "summary": "Update an invoice",
        "operationId": "putinvoices-uuid",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": {
                        "user_id": 92,
                        "uuid": "f7234af9-1f67-48d3-98b6-22813b3a935f",
                        "permalink": "https://billitio.billit.io/inv/f7234af9-1f67-48d3-98b6-22813b3a935f",
                        "number": 401,
                        "type": {
                          "id": 349,
                          "name": "INVOICE",
                          "subtitle": "",
                          "note": "general note eng",
                          "alias": null,
                          "series": null
                        },
                        "biller": {
                          "id": 224,
                          "company": "BILLIT GP",
                          "info": null,
                          "profession": "Web development",
                          "taxId": "EL801379527",
                          "taxOffice": "N.Σμύρνη",
                          "streetAddress": "Tsamaous",
                          "city": "Piraeus",
                          "postCode": "18538",
                          "phone": "21023123",
                          "mobile": "123123",
                          "url": "https://billit.io/en",
                          "urlLabel": null,
                          "country": "GR",
                          "freeText": "<p>free text enlighs</p>"
                        },
                        "customer": {
                          "id": 644,
                          "email": "info@artspot.gr",
                          "company": "ARTSPOT  L.T.D",
                          "profession": "art promotions",
                          "taxId": "998039738",
                          "taxOffice": "Α΄ΠΕΙΡΑΙΑ",
                          "streetAddress": "Voulgari 23",
                          "city": "Piraeus",
                          "country": "AS",
                          "postCode": "18533",
                          "phone": "",
                          "mobile": "",
                          "isCompany": true,
                          "field1": "test",
                          "field2": null,
                          "field3": null,
                          "field4": null
                        },
                        "items": [
                          {
                            "quantity": 1,
                            "measurementUnitId": 1,
                            "product": {
                              "id": 56,
                              "title": null,
                              "description": "test"
                            },
                            "netAmount": 100,
                            "vatAmount": 0,
                            "totalAmount": 100,
                            "discountPercent": 0,
                            "discountAmount": 0,
                            "undiscountedTotalAmount": 100,
                            "vatId": 526,
                            "vatPercent": 0,
                            "mydata": {
                              "vatCat": null,
                              "vatExemptionCat": 6,
                              "dienergia": null,
                              "discountOption": null,
                              "withheldAmount": null,
                              "withheldPercentCat": null,
                              "stampDutyAmount": null,
                              "stampDutyPercent_cat": null,
                              "feesAmount": null,
                              "feesPercentCat": null,
                              "otherTaxesAmount": null,
                              "otherTaxesPercent_cat": null,
                              "deductionsAmount": null,
                              "lineComments": null,
                              "incomeClassificationType": [
                                {
                                  "id": 1,
                                  "type": "E3_561_006",
                                  "amount": 100,
                                  "category": "category1_3"
                                }
                              ],
                              "expensesClassificationType": null,
                              "rowType": null
                            }
                          }
                        ],
                        "note": "general note eng",
                        "amount": 100,
                        "vatAmount": 0,
                        "finalAmount": 100,
                        "payableAmount": 100,
                        "discountedAmount": 0,
                        "restAmount": 100,
                        "isPaid": false,
                        "layoutLang": "EN",
                        "paymentMethodIds": [
                          0
                        ],
                        "templateId": 0,
                        "hideItemNum": false,
                        "isRecurring": false,
                        "isSend": false,
                        "isRead": false,
                        "dateIssued": "2021-04-22",
                        "dateExpires": null,
                        "dateRead": null,
                        "createdAt": "2021-04-22T19:06:38+00:00",
                        "updatedAt": "2021-04-23T16:10:51+00:00",
                        "deletedAt": "2021-04-23T16:10:51+00:00",
                        "tags": [],
                        "isMydataEnabled": true,
                        "mydata": {
                          "type": "2.3",
                          "state": 1,
                          "errors": null,
                          "branch": 0,
                          "invoiceUid": null,
                          "invoiceMark": null,
                          "transmissionFailure": null,
                          "selfPricing": null,
                          "classificationMark": null,
                          "authenticationCode": null,
                          "canceledByMark": null,
                          "incomeClassification": null,
                          "expenseClassification": null,
                          "dienergia": null,
                          "mydataPaymentType": [
                            {
                              "type": 5,
                              "amount": 100,
                              "paymentMethodInfo": ""
                            }
                          ]
                        },
                        "dispatchDate": null,
                        "dispatchTime": null,
                        "vehicleNumber": null,
                        "movePurpose": null,
                        "loadingPlace": null,
                        "destination": null,
                        "correlatedInvoices": [],
                        "taxTotals": [],
                        "totalWithheldAmount": 0,
                        "totalFeesAmount": 0,
                        "totalStampDutyAmount": 0,
                        "totalOtherTaxesAmount": 0,
                        "totalDeductionsAmount": 0,
                        "vatList": [
                          {
                            "name": "0%",
                            "value": 0
                          }
                        ],
                        "offlinePaymentMethods": [
                          {
                            "label": "Cash",
                            "value": "<p>Payment in headquarters</p>"
                          }
                        ],
                        "onlinePaymentMethods": [
                          {
                            "id": 482,
                            "name": "Τραπεζα Πειραιώς [online]",
                            "gatewayId": 5
                          },
                          {
                            "id": 483,
                            "name": "BrainTree [online]",
                            "gatewayId": 3
                          },
                          {
                            "id": 491,
                            "name": "Paypal [online]",
                            "gatewayId": 2
                          }
                        ],
                        "templateExtras": {
                          "logo": "https://app.billit.local/uploads/logos/92/billit-other.png",
                          "templateName": "hydromet",
                          "multiLang": 1,
                          "dateFormat": "d-m-Y",
                          "currency": "EUR",
                          "currencySymbol": "€",
                          "currencyPos": 1,
                          "customerDept": false,
                          "allowPayments": true,
                          "hideTmx": false,
                          "hideReceiver": false,
                          "hidePricing": false,
                          "showBalance": false,
                          "hasSigningbox": false,
                          "extraFieldsLabels": [
                            "testen"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "number"
                  },
                  "sendMail": {
                    "type": "boolean"
                  },
                  "excludeMydata": {
                    "type": "boolean"
                  },
                  "invoiceDate": {
                    "type": "string",
                    "minLength": 1
                  },
                  "invoiceTypeId": {
                    "type": "number"
                  },
                  "mydataInvoiceType": {
                    "type": "string",
                    "minLength": 1
                  },
                  "taxes": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "taxId",
                        "taxVatShow"
                      ],
                      "properties": {
                        "taxId": {
                          "type": "number"
                        },
                        "taxVatShow": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "products": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "details",
                        "measurementUnit",
                        "vatId",
                        "price",
                        "quantity",
                        "incomeClassificationCat",
                        "incomeClassificationType"
                      ],
                      "properties": {
                        "productId": {},
                        "details": {
                          "type": "string",
                          "minLength": 1
                        },
                        "measurementUnit": {
                          "type": "number"
                        },
                        "vatId": {
                          "type": "number"
                        },
                        "price": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "incomeClassificationCat": {
                          "type": "string",
                          "minLength": 1
                        },
                        "incomeClassificationType": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "required": [],
                      "properties": {}
                    }
                  },
                  "mydataPayment": {
                    "type": "object",
                    "properties": {
                      "paidAmount": {
                        "type": "number"
                      },
                      "paymentMethod": {
                        "type": "number"
                      },
                      "epiPistosi": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "paidAmount",
                      "paymentMethod",
                      "epiPistosi"
                    ]
                  }
                },
                "required": [
                  "customerId",
                  "sendMail",
                  "excludeMydata",
                  "invoiceDate",
                  "invoiceTypeId",
                  "mydataInvoiceType",
                  "taxes",
                  "products",
                  "tags",
                  "mydataPayment"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "customerId": 694,
                    "sendMail": false,
                    "excludeMydata": true,
                    "invoiceDate": "2021-04-15",
                    "invoiceTypeId": 349,
                    "mydataInvoiceType": "2.1",
                    "taxes": [
                      {
                        "taxId": 514
                      },
                      {
                        "taxId": 524,
                        "taxVatShow": 1
                      }
                    ],
                    "products": [
                      {
                        "productId": null,
                        "details": "test",
                        "measurementUnit": 1,
                        "vatId": 376,
                        "price": 123.32,
                        "quantity": 1,
                        "incomeClassificationCat": "category1_3",
                        "incomeClassificationType": "E3_561_001"
                      }
                    ],
                    "tags": [
                      "billit",
                      "millit"
                    ],
                    "mydataPayment": {
                      "paidAmount": 0.32,
                      "paymentMethod": 3,
                      "epiPistosi": 10
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          }
        ],
        "description": "Update an invoice\n\n<!-- theme: warning -->\n> In order to get back or post payload with MyData information, you need to enable the Mydata plugin first. Please do from your settings menu if your business is located in Greece and you need to connect myData to your account."
      },
      "delete": {
        "summary": "Delete an invoice",
        "operationId": "deleteinvoices-uuid",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Invoices"
        ],
        "description": "Delete an invoice. By deleting an invoice, you actually cancel it the first time. Only way you can actually delete it permantly is if the invoice is the last one for a certain invoice type.",
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          }
        ]
      }
    },
    "/products": {
      "get": {
        "summary": "List of products",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "id": 16,
                          "name": "Web Development",
                          "description": "Web development services",
                          "nameSec": "",
                          "descriptionSec": "",
                          "unitPrice": 4000,
                          "defaultVatId": 250,
                          "stock": 0,
                          "withStock": false,
                          "isVatIncluded": false,
                          "ordering": false,
                          "active": false,
                          "bulkjobId": null,
                          "createdAt": "2015-09-03T20:56:24+00:00",
                          "updatedAt": "2016-06-27T09:28:46+00:00",
                          "deletedAt": null
                        },
                        {
                          "id": 21,
                          "name": "Φιλοξενία χώρου",
                          "description": "υπηρεσίες φιλοξενίας ιστοσελίδων",
                          "nameSec": "Web hosting services",
                          "descriptionSec": "",
                          "unitPrice": 52,
                          "defaultVatId": 376,
                          "stock": 0,
                          "withStock": true,
                          "isVatIncluded": false,
                          "ordering": false,
                          "active": false,
                          "bulkjobId": null,
                          "createdAt": "2015-10-08T15:26:15+00:00",
                          "updatedAt": "2016-10-11T13:18:17+00:00",
                          "deletedAt": null
                        }
                      ],
                      "links": {
                        "first": "https://api.billit.io/v1/products?page=1",
                        "last": "https://api.billit.io/v1/products?page=1",
                        "prev": null,
                        "next": null
                      },
                      "meta": {
                        "current_page": 1,
                        "from": 1,
                        "last_page": 1,
                        "links": [
                          {
                            "url": null,
                            "label": "&laquo; Previous",
                            "active": false
                          },
                          {
                            "url": "https://api.billit.io/v1/products?page=1",
                            "label": "1",
                            "active": true
                          },
                          {
                            "url": null,
                            "label": "Next &raquo;",
                            "active": false
                          }
                        ],
                        "path": "https://api.billit.io/v1/products",
                        "per_page": 50,
                        "to": 6,
                        "total": 6
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "operationId": "get-products",
        "description": "Get a list of products",
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "schema": {
              "type": "string",
              "example": "5"
            },
            "in": "query",
            "name": "has_stock",
            "description": "Show only products that their stock is tracked."
          },
          {
            "schema": {
              "type": "string",
              "example": "10"
            },
            "in": "query",
            "name": "stock_less",
            "description": "Show only products that their stock is less thank this number."
          },
          {
            "schema": {
              "type": "string",
              "example": "10"
            },
            "in": "query",
            "name": "stock_greater",
            "description": "Show only products that their stock is less thank this number."
          },
          {
            "schema": {
              "type": "string",
              "example": "100"
            },
            "in": "query",
            "name": "tag_id",
            "description": "Show only products that are using a certain tag."
          }
        ],
        "security": [
          {
            "API TOKEN": []
          }
        ]
      },
      "post": {
        "summary": "Create a new product",
        "tags": [
          "Products"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "id": 0,
                        "name": "string",
                        "description": "string",
                        "nameSec": "string",
                        "descriptionSec": "string",
                        "unitPrice": 0,
                        "defaultVatId": 0,
                        "stock": 0,
                        "withStock": true,
                        "isVatIncluded": true,
                        "ordering": true,
                        "active": true,
                        "bulkjobId": null,
                        "createdAt": "string",
                        "updatedAt": "string",
                        "deletedAt": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "operationId": "post-products",
        "security": [
          {
            "API TOKEN": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1
                  },
                  "nameSec": {
                    "type": "string"
                  },
                  "descriptionSec": {
                    "type": "string"
                  },
                  "unitPrice": {
                    "type": "number"
                  },
                  "defaultVatId": {
                    "type": "number"
                  },
                  "stock": {
                    "type": "number"
                  },
                  "withStock": {
                    "type": "boolean"
                  },
                  "isVatIncluded": {
[...]
